@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;500;700;900&display=swap');

body {
    background-color: rgb(200, 200, 200);
    background-image: url(images/wallpaper.jpg);
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

p, a, li {
    font-family: 'Open Sans', sans-serif;      
}

.first-Paragraph{
    text-align: justify;

}


a {
    text-decoration: none;
}

.btn {
        border-radius: 35px;
        border: 2px solid #3e413e8e;
        padding: 10px;
        margin: 4px 2px;
        font-size: 20px;
      
        
}
      
.btn:hover {
    text-decoration: underline;
}

.btn-blue {
    background-color: rgb(246, 125, 125);
    color: rgb(240, 240, 240);
}

.btn-blue:hover {
    background-color: rgb(71, 85, 7);
    box-shadow: 0px 2px 8px blueviolet;
}

.img-circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card-white {
    background-color: white;
    padding: 16px 32px 24px 32px;
    width: 700px;
    margin: 16px auto;
    border-radius: 4px;
    text-align: center;
}

.list-center {
    margin: 0 auto;
    width: 240px;
    text-align: justify;
}

.list-inline {
    list-style: none;
    padding: 0;
}

.list-inline li {
    display: inline-block;
}

.social-icon {
    font-size: 32px;
    color: rgba(100, 100, 100, .5);
    margin: 0 8px;
}

.social-icon:hover {
    color: rgba(100, 100, 100, 1);;
}